# Ignore vim swap files
.*.swp

# Ignore latex output files
*.aux
*.log
*.out
*.bbl
*.bcf
*.blg
*.run.xml
*.eps
*.pdf

# Ignore mac files
.DS_Store

# Ignore build dir
build/*

# Ignore jupyter notebook checkpoints
tools/visuals/.ipynb_checkpoints/*
